async-timeout==3.0.1
attrs==20.3.0
bs4==0.0.1
discord.py==1.5.1
openpyxl==3.0.5
requests==2.25.0
selenium==3.141.0
soupsieve==2.0.1
sqlparse==0.4.1
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.0
Werkzeug==1.0.1
yarl==1.5.1
